<!--
- Project: Search Giá
- File: templates/webcomponent.html
- Author: Hứa Đức Quân (https://www.facebook.com/quancp72h)
- Website: https://search.quanhd.net
- Created: 2024-08-27
- Last Modified: 2024-08-27
** Xin vui lòng giữ lại thông tin này khi sử dụng code / Please keep this information when using the code **
-->

<!DOCTYPE html>
<html lang="en" class="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo Web Component</title>
</head>

<body>

    <product-search-app></product-search-app>

    <script src="/static/modun.js"></script>

</body>

</html>